@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background: 201 36% 95%;
  --foreground: 201 5% 10%;
  --card: 201 36% 90%;
  --card-foreground: 201 5% 15%;
  --popover: 201 36% 95%;
  --popover-foreground: 201 95% 10%;
  --primary: 201 75% 33%;
  --primary-foreground: 0 0% 100%;
  --secondary: 201 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 163 30% 85%;
  --muted-foreground: 201 5% 35%;
  --accent: 163 30% 80%;
  --accent-foreground: 201 5% 15%;
  --destructive: 0 50% 35%;
  --destructive-foreground: 201 5% 90%;
  --border: 201 30% 50%;
  --input: 201 30% 35%;
  --ring: 201 75% 33%;
  --radius: 0.5rem;
}

.dark  {
  --background: 201 36% 10%;
  --foreground: 201 5% 90%;
  --card: 201 36% 10%;
  --card-foreground: 201 5% 90%;
  --popover: 201 36% 5%;
  --popover-foreground: 201 5% 90%;
  --primary: 201 75% 33%;
  --primary-foreground: 0 0% 100%;
  --secondary: 201 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 163 30% 25%;
  --muted-foreground: 201 5% 60%;
  --accent: 163 30% 25%;
  --accent-foreground: 201 5% 90%;
  --destructive: 0 50% 35%;
  --destructive-foreground: 201 5% 90%;
  --border: 201 30% 35%;
  --input: 201 30% 35%;
  --ring: 201 75% 33%;
  --radius: 0.5rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply bg-[var(--background)];
  }
}
